.heroarea-wrap{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    column-gap: 0.6rem;
    align-items: center;
    padding: 0.3rem 0;
    height: 560px;
}

.heroarea-right{
    width: 100%;
}

.heroarea-right img {
    width: 100%;
}