:root{
  --primary-colors: white;
  --secondary-color: #F7EFE5;
  --text-colors: #C3ACD0;
  --background-colors: #674188;
  --background-color: #CFF1EF;
  --white-text-color: white;

}


body{
  background-color: var(--primary-colors) !important;
}
.nav-link{
  /* color: #65B8F6 !important; */
  color: #707070 !important;
  font-weight: 700;
}
.nav-item :hover, :focus{
  color: black !important;
}

.login{
  /*background-color: rgb(225, 224, 224) !important;*/
  background-color: #E4E9F7 !important;
}
/*
.card{
  padding-left: 10rem;
} */